img {
	height: 60%;
	 width: 60%; 
	position: relative;
    left: 200px;
    border: 3px solid #73AD21;

}

body {
	background-color: rgb(102, 202, 255);
}

ul {
	list-style-type: square;
}

p {
	font-family: Monaco;
}