body {
  background-color: rgba(33, 135, 167, 0.233);
}
#wrapper {
  width: 85%;
  min-width: 760px;
  margin: 0 auto;
  border: 2px solid blue;
  background-color: #fff;
  padding: 10px 5px 0;
}
header {
  text-align: center;
  color: #330066;
}
ul {
  list-style-type: none;
  display: inline-flex;
  text-decoration: none;
}
li {
  width: 125px;
  height: 50px;
  line-height: 50px;
  background-color: #990000;
  border-radius: 12px;

  margin: 1px;
  margin-right: 6px;
  padding: 3px;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: white;
}
nav {
  text-align: center;
}

footer {
  height: 60px;
  padding-top: 10px;

  clear: both;
  background-color: #990000;
  text-align: center;
  font-size: 65%;
  font-weight: bold;
  color: white;
}

#inner {
  overflow: auto;
}
#float {
  margin: 20px;
  margin-left: 0px;
  float: left;
}

div > p::first-letter {
  font-size: 30px;
  font-weight: bold;
  color: #990000;
}
